In [0]:
employee_data=[(10,"raju","1999","100","M",2000),(20,"ravi","1999","100","M",1000),(30,"avishu","2005","100","F",2500),(40,"rakesh kumar","1999","101","M",4000),(50,"ravi","2000","104","M",5000),(80,"sunny","2008","104","M",None)]

employee_schema=["employee_id","name","doj","employee_dep_id","gender","salary"]


employee_df =spark.createDataFrame(data=employee_data,schema=employee_schema)
display(employee_df)

employee_id,name,doj,employee_dep_id,gender,salary
10,raju,1999,100,M,2000
20,ravi,1999,100,M,1000
30,avishu,2005,100,F,2500
40,rakesh kumar,1999,101,M,4000
50,ravi,2000,104,M,5000
80,sunny,2008,104,M,null

In [0]:
employee_df.printSchema()

root
 |-- employee_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- doj: string (nullable = true)
 |-- employee_dep_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
display(employee_df.filter(employee_df.gender == 'F'))  # ==,>,<,<=,>=<,!=

employee_id,name,doj,employee_dep_id,gender,salary
30,avishu,2005,100,F,2500

In [0]:
display(employee_df.filter((employee_df.salary >= 9000) | (employee_df.doj=="2000")))   #& ,|

employee_id,name,doj,employee_dep_id,gender,salary
50,ravi,2000,104,M,5000

In [0]:
display(employee_df.filter((employee_df.salary<=5000) | (employee_df.doj=="2000")))   #& ,|

employee_idstring,name,doj,employee_dep_id,gender,salary
10,raju,1999,100,M,2000
20,ravi,1999,100,M,1000
30,avishu,2005,100,F,2500
40,rakesh kumar,1999,101,M,4000
50,ravi,2000,104,M,5000

In [0]:
 v = "hello"

In [0]:
display(employee_df.filter(employee_df.name.startswith("r")))

employee_id,name,doj,employee_dep_id,gender,salary
10,raju,1999,100,M,2000
20,ravi,1999,100,M,1000
40,rakesh kumar,1999,101,M,4000
50,ravi,2000,104,M,5000

In [0]:
display(employee_df.filter(employee_df.name.endswith("i")))

employee_id,name,doj,employee_dep_id,gender,salary
20,ravi,1999,100,M,1000
50,ravi,2000,104,M,5000

In [0]:
display(employee_df.filter(employee_df.name.contains("vi")))

employee_id,name,doj,employee_dep_id,gender,salary
20,ravi,1999,100,M,1000
30,avishu,2005,100,F,2500
50,ravi,2000,104,M,5000

In [0]:
display(employee_df.filter(employee_df.salary.isNull())) #isNull,isNotNull

employee_id,name,doj,employee_dep_id,gender,salary
80,sunny,2008,104,M,null

In [0]:
display(employee_df.filter(employee_df.salary.isin(1000,5000,2500))) #isin

employee_id,name,doj,employee_dep_id,gender,salary
20,ravi,1999,100,M,1000
30,avishu,2005,100,F,2500
50,ravi,2000,104,M,5000

In [0]:
display(employee_df.filter(employee_df.name.like('%u')))

employee_id,name,doj,employee_dep_id,gender,salary
10,raju,1999,100,M,2000
30,avishu,2005,100,F,2500

In [0]:
# df.withColumn("new_col",value)
# df.withColumnRenamed("old_col","old_col")
# df.drop("col_name",value)

In [0]:
employee_data=[[10,"raju","1999","100","M",2000],[20,"raju","1999","100","M",2000],[30,"avishu","2005","100","F",2500],[40,"rakesh","1999","101","M",4000],[50,"ravi","2000","107","M",5000],[60,"rashmi","2000","106","F",9000],[70,"rahul kumar","2000","107","M",5670],[80,"rami","2000","109","F",5600]]

employee_schema=["employee_id","name","doj","employee_dep_id","gender","salary"]


employee_df =spark.createDataFrame(data=employee_data,schema=employee_schema)
display(employee_df)

employee_id,name,doj,employee_dep_id,gender,salary
10,raju,1999,100,M,2000
20,raju,1999,100,M,2000
30,avishu,2005,100,F,2500
40,rakesh,1999,101,M,4000
50,ravi,2000,107,M,5000
60,rashmi,2000,106,F,9000
70,rahul kumar,2000,107,M,5670
80,rami,2000,109,F,5600

In [0]:
from pyspark.sql.functions import lit
empdf_addcol=employee_df.withColumn("LOCATION",lit("mumbai")).show()

+-----------+-----------+----+---------------+------+------+--------+
|employee_id|       name| doj|employee_dep_id|gender|salary|LOCATION|
+-----------+-----------+----+---------------+------+------+--------+
|         10|       raju|1999|            100|     M|  2000|  mumbai|
|         20|       raju|1999|            100|     M|  2000|  mumbai|
|         30|     avishu|2005|            100|     F|  2500|  mumbai|
|         40|     rakesh|1999|            101|     M|  4000|  mumbai|
|         50|       ravi|2000|            107|     M|  5000|  mumbai|
|         60|     rashmi|2000|            106|     F|  9000|  mumbai|
|         70|rahul kumar|2000|            107|     M|  5670|  mumbai|
|         80|       rami|2000|            109|     F|  5600|  mumbai|
+-----------+-----------+----+---------------+------+------+--------+

In [0]:
# Sample data
data = [("John", "Doe", 50000),
        ("Jane", "Smith", 60000),
        ("Bob", "Johnson", 75000)]

# Define the schema
schema = ["firstname", "lastname", "salary"]

# Create a DataFrame
empdf = spark.createDataFrame(data, schema=schema)

# Add columns
empdf_addcolumn = empdf.withColumn("bonus", empdf.salary * 0.3).withColumn("Name", concat("firstname", lit(" "), "lastname"))

# Display the DataFrame
empdf_addcolumn.show()

+---------+--------+------+-------+-----------+
|firstname|lastname|salary|  bonus|       Name|
+---------+--------+------+-------+-----------+
|     John|     Doe| 50000|15000.0|   John Doe|
|     Jane|   Smith| 60000|18000.0| Jane Smith|
|      Bob| Johnson| 75000|22500.0|Bob Johnson|
+---------+--------+------+-------+-----------+

In [0]:
from pyspark.sql.functions import *