In [0]:
data_student = [("ashutosh","80","P",90),
                ("ravi","45","F",20),
                ("rakesh","55","F",40),
                ("sunny","80","P",90)
                ,("sanidhia","null","P",90)]
df=spark.createDataFrame(data= data_student , schema =["name","marks","status","attendence"]) # Create sample student data as a list of tuples.
# Each tuple represents a student record with the following fields:
# (name, marks, status, attendence)
# - 'marks' contains numeric values as strings, with "null" representing missing data.
# - 'status' could be "P" (pass) or "F" (fail).
# - 'attendence' represents the attendance score. 
# Create a Spark DataFrame using the sample student data and specify the schema.
display(df) # Display the DataFrame in an interactive tabular view in Databricks.

name,marks,status,attendence
ashutosh,80,P,90
ravi,45,F,20
rakesh,55,F,40
sunny,80,P,90
sanidhia,null,P,90

In [0]:
data_student1 = [
    ("ashutosh", "80", "P", 90),
    ("ram", "45", "F", 20),
    ("avinash", "55", "F", 40),
    ("abhishek", "80", "P", 90),
    ("rahul", None, "P", 90)  # Use None instead of "null" for missing values
] # Create sample student data as a list of tuples with corrected handling of missing values.
# Each tuple represents a student record: (name, marks, status, attendance)
# - Use None (Python null) instead of the string "null" for missing values.

# Corrected variable name df1 instead of df
df1 = spark.createDataFrame(data=data_student1, schema=["name", "marks", "status", "attendance"]) # Create a Spark DataFrame 'df1' using the corrected student data and schema.
display(df1) # Display the DataFrame in an interactive tabular view in Databricks.

name,marks,status,attendance
ashutosh,80,P,90
ram,45,F,20
avinash,55,F,40
abhishek,80,P,90
rahul,null,P,90

In [0]:
df_union = df.union(df1)# Perform a union of two DataFrames, 'df' and 'df1'.
# - Combines all rows from both DataFrames into a single DataFrame 'df_union'.
# - Both DataFrames must have the same schema for union to work correctly.
# Display the resulting combined DataFrame in an interactive tabular view in Databricks.
display(df_union)

name,marks,status,attendence
ashutosh,80,P,90
ravi,45,F,20
rakesh,55,F,40
sunny,80,P,90
sanidhia,null,P,90
ashutosh,80,P,90
ram,45,F,20
avinash,55,F,40
abhishek,80,P,90
rahul,null,P,90

In [0]:
df_union_all = df.unionAll(df1) # Perform a unionAll of two DataFrames, 'df' and 'df1'.
# - Combines all rows from both DataFrames into a single DataFrame 'df_union_all'.
# - Unlike SQL UNION, unionAll keeps all duplicate rows.
# - Both DataFrames must have the same schema for unionAll to work correctly.
# Display the resulting combined DataFrame in an interactive tabular view in Databricks.
display(df_union_all)

name,marks,status,attendence
ashutosh,80,P,90
ravi,45,F,20
rakesh,55,F,40
sunny,80,P,90
sanidhia,null,P,90
ashutosh,80,P,90
ram,45,F,20
avinash,55,F,40
abhishek,80,P,90
rahul,null,P,90

In [0]:
display(df_union.dropDuplicates()) # Remove duplicate rows from the 'df_union' DataFrame.
# - The resulting DataFrame will contain only unique rows.
# Display the DataFrame without duplicates in an interactive tabular view in Databricks.

name,marks,status,attendence
ashutosh,80,P,90
ravi,45,F,20
rakesh,55,F,40
sunny,80,P,90
sanidhia,null,P,90
ram,45,F,20
avinash,55,F,40
abhishek,80,P,90
rahul,null,P,90

In [0]:
data_student_5_col = [("ashutosh","80","P"),
                ("ram","45","F"),
                ("avinash","55","F"),
                ("abhishek","80","P")
                ,("rahul","null","P")] # Create sample student data with 3 columns: name, marks, and status.
# Each tuple represents a student record: (name, marks, status)
# - 'marks' contains numeric values as strings, with "null" representing missing values.
df_5_col=spark.createDataFrame(data= data_student , schema =["name","marks","status"]) # Create a Spark DataFrame 'df_5_col' using the sample data and schema.
display(df_5_col) # Display the DataFrame in an interactive tabular view in Databricks.

name,marks,status,_4
ashutosh,80,P,90
ravi,45,F,20
rakesh,55,F,40
sunny,80,P,90
sanidhia,null,P,90

In [0]:
df_union = df.union(df1) # Perform a union of two DataFrames, 'df' and 'df1'.
# - Combines all rows from both DataFrames into a single DataFrame 'df_union'.
# - Both DataFrames must have the same schema for the union operation to work correctly.
# Display the combined DataFrame in an interactive tabular view in Databricks.
display(df_union)

name,marks,status,attendence
ashutosh,80,P,90
ravi,45,F,20
rakesh,55,F,40
sunny,80,P,90
sanidhia,null,P,90
ashutosh,80,P,90
ram,45,F,20
avinash,55,F,40
abhishek,80,P,90
rahul,null,P,90

![test image](/FileStore/images/Pivot-1.PNG)